# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Daniel\דברים לתואר\שנה א\סמסטר א\עבודות\מדמח\ass4 מבוא למדמח\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
